.notification {
  &-container {
    pointer-events: none;
    width: 100%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
  }

  &-bubble {
    padding: 0.5rem 1rem;
    @apply inline-flex font-bold shadow-lg mt-4 rounded;

    &--correct {
      @apply bg-green-400 text-green-900;
    }
    &--wrong {
      @apply bg-red-400 text-red-900;
    }
  }
}

.notifications {
  &-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  &-leave-to {
    transform: translateX(40px);
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: ease-in transform 0.2s, opacity linear 0.15s;
  }

  &-move {
    transition: transform 0.5s;
  }
}
