.playingcard {
  height: 250px;
  width: 180px;
  perspective: 1000px;
  @apply text-black;
  @apply flex items-center justify-center relative bg-white rounded shadow-md p-2;

  &:not(.playingcard--flip) {
    transition: all linear 0.3s;
  }

  &--small {
    height: 115px;
    width: 80px;
  }

  &--red {
    @apply text-red-700;
  }

  &--flip {
    // transition: transform 0.6s;
    transform-style: preserve-3d;
    @apply flex shadow-xl text-4xl;
  }

  &-suit {
    @apply absolute;

    &--top {
      top: 0.5rem;
      left: 0.5rem;
    }
    &--bottom {
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }

  &-rank {
    @apply font-bold;
  }

  &-inner {
    @apply relative flex flex-grow self-stretch;
  }

  &-back,
  &-front {
    backface-visibility: hidden;
    @apply absolute w-full h-full;
  }

  &-back {
    background-image: url("~@/assets/svg/card-bg.svg");
    @apply w-full h-full rounded;
  }

  &-front {
    @apply flex items-center justify-center;
    transform: rotateY(180deg);
  }
}

.playfield {
  min-height: 171px;
  .playingcard:not(:first-child) {
    margin-left: -20px;
  }
}
