@tailwind base;
@import "layout/backdrop";
@import "layout/menu";
@import "layout/toolbar";
@tailwind components;
@import "components/playingcard";
@import "components/droplet";

@tailwind utilities;

:root {
  --toolbar-height: 54px;
  --backdrop-top: var(--toolbar-height);
}

body {
  height: 100vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  @apply bg-primary text-text font-default;
}

.app {
  max-width: 100%;
  @apply h-full w-full overflow-hidden;
}

.spacer {
  @apply flex-grow;
}
